* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  overflow-x: hidden;
}
h1 {
  font-size: 50px;
  font-weight: bold;
  font-family: "Audiowide", cursive;
}
p {
  font-size: 24px;
  line-height: 50px;
}
.navbar-brand {
  margin-right: 30%;
  font-weight: bold;
  font-size: 35px;
  font-family: "Audiowide", cursive;
}
/*.bg-dark
{
    background-color: #D4D7DE !important;
}*/
.nav-item {
  padding-right: 25px;
  font-size: 20px;
  font-weight: bold;
}

.navbar {
  z-index: 1;
  background-image: url(images/nav-image1.jpg);
}

nav {
  width: 100vw;
}

/***************Banner*************/
#banner {
  position: relative;
  background-image: url(images/banner.jpg);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h2 {
  font-weight: bold;
  font-size: 60px;
  font-family: "Audiowide", cursive;
}
#banner p {
  color: #cccccc;
  font-weight: bold;
}
/***************About*************/
#about {
  background-color: #fefefe;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  align-items: center;
}

/***************Projects*************/
#projects {
  background-color: black;
  color: #fff;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  align-items: center;
}

#projects img {
  width: 150px;
  height: 300px;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.responsive {
  width: 100%;
  height: auto;
}
.myImg {
  height: 300px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.myImg:hover {
  opacity: 0.7;
}
/*The Modal (background)*/
.modal {
  display: none; /*Hidden by default */
  position: fixed; /*Stay in place */
  z-index: 2; /*Sit on top */
  padding-top: 100px; /*Location of the box */
  left: 0;
  top: 0;
  width: 100%; /*Full width */
  height: 100%; /*Full height */
  overflow: auto; /*Enable scroll if needed */
  background-color: rgb(0, 0, 0); /*Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /*Black w/ opacity */
}

/*Modal Content (image)*/
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}
#myModal img {
  width: auto;
  height: auto;
}

/*Caption of Modal Image*/
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/*Add Animation*/
.modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/*The Close Button*/
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  z-index: 1;
}

.close:hover,
.close:focus {
  color: crimson;
  text-decoration: none;
  cursor: pointer;
}

/*100% Image Width on Smaller Screens*/
@media only screen and (min-width: 0px) {
  .modal-content {
    max-width: 100%;
  }
}

/*-------------------------Services-----------*/
#services {
  background-color: #fefefe;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  align-items: center;
  color: black !important;
}

.services {
  margin-top: 40px;
}
.icon {
  font-size: 40px;
  margin: 20px auto;
  padding-top: 14px;
  height: 90px;
  width: 90px;
  border: 1px solid black;
  border-radius: 50%;
}
#services p {
  font-size: 20px;
  margin-top: 20px;
}
.services:hover {
  background-color: black;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

/*-------------Contact--------------*/
#contact {
  padding-top: 100px;
  /*    padding: 10px 0 20px;*/
  background-color: black;
  color: white;
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

.contact-row {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-left h1 {
  text-align: left;
}
.contact-right h1 {
  text-align: right;
}
.contact-left,
.contact-right {
  flex-basis: 45%;
  padding: 10px;
  margin-bottom: 20px;
}
.contact-right {
  text-align: right;
}
.contact-left .fa,
.contact-right .fa {
  font-size: 20px;
  /*    color: crimson;*/
  margin: 10px;
  display: inline;
}

.social-links {
  text-align: center;
}
.social-links .fa {
  height: 40px;
  width: 40px;
  font-size: 20px;
  line-height: 40px;
  border: 1px solid white;
  border-radius: 90px;
  margin: 40px 5px 0;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}
.social-links .fa:hover {
  background: white;
  color: black;
  transform: translateY(-7px);
}
.social-links p {
  font-size: 18px;
  margin: 0px;
  margin-top: 20px;
}

@media (max-width: 600px) {
  .contact-left p {
    font-size: 16px;
  }
  .contact-right p {
    font-size: 16px;
  }
  .contact-left,
  .contact-right {
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
  }
  .contact-right {
    text-align: left;
  }
  .contact-left .fa,
  .contact-right .fa {
    font-size: 16px;
    /*    color: crimson;*/
    margin: 10px;
  }

  .contact-left .fa,
  .contact-right .fa {
    display: inline;
  }
}

@media (max-width: 320px) {
  .navbar-brand {
    font-size: 28px;
  }

  h2 {
    font-size: 50px;
    margin-top: 20px;
  }
  #banner p {
    font-size: 20px;
  }

  .contact-left .fa,
  .contact-right .fa {
    font-size: 14px;
    margin-left: 7px;
    margin-right: 7px;
    display: inline;
  }

  .contact-left p {
    font-size: 14px;
  }
  .contact-right p {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .contact-right {
    margin-left: 40%;
  }
}

@media (max-width: 767px) {
  .contact-right,
  .contact-right h1 {
    text-align: left;
  }
}
